*.dll
*.exe
*.VOL
*.DAT
*.dat
*.STS
*.asm
*.png
__pycache__/
BBPRO98_package/game/
work/orig/
work/dosroot/
*.log
keystone_engine-0.9.2-py2.py3-none-manylinux1_x86_64.whl
work/BBShell.asm
BBPRO98_package/tools/AutoHotkey64.exe
BBPRO98_package/game/SOUND.DAT
BBPRO98_package/game/BPIDBM.DAT
BBPRO98_package/game/SIM.DAT
BBPRO98_package/game/SHELL1.VOL
BBPRO98_package/game/Arcdbm4.dat
BBPRO98_package/game/Arcdbm8.dat
BBPRO98_package/game/WEBPOST.EXE
BBPRO98_package/game/SHELL2.VOL
BBPRO98_package/game/ARCDBM.DAT
BBPRO98_package/game/SHELL.VOL
BBPRO98_package/game/Music/shell9.WAV
BBPRO98_package/game/Music/shell8.WAV
BBPRO98_package/game/Music/SHELL5.WAV
BBPRO98_package/game/Music/SHELL4.WAV
BBPRO98_package/game/Music/SHELL6.WAV
BBPRO98_package/game/Music/shell7.WAV
BBPRO98_package/game/Music/SHELL3.WAV
BBPRO98_package/game/Music/SHELL2.WAV
BBPRO98_package/game/Music/shell11.WAV
BBPRO98_package/game/Music/SHELL1.WAV
BBPRO98_package/game/Music/shell10.WAV
BBPRO98_package/game/Videos/BBINTRO.AVI
BBPRO98_package/game/Videos/CHAMPION.AVI
BBPRO98_package/game/Stats/mlbpa96e.dat
BBPRO98_package/game/Stats/mlbpa97.DAT
BBPRO98_package/game/Stats/_DEFAULT.DAT
BBPRO98_package/game/Preview/bb98pre4.avi
BBPRO98_package/game/Preview/bb98pre7.avi
BBPRO98_package/game/Preview/Preview.tbv
BBPRO98_package/game/Preview/bb98pre2.avi
BBPRO98_package/game/Preview/bb98pre3.avi
BBPRO98_package/game/Preview/bb98pre1.avi
BBPRO98_package/game/CrdSFXHi/CR_AM_ID.WAV
BBPRO98_package/game/CrdSFXHi/CR_EV_ID.WAV
BBPRO98_package/game/CrdSFXHi/BALL_PNO.WAV
BBPRO98_package/game/Preview/bb98pre8.avi
BBPRO98_package/game/CrdSFXHi/BALL_ORG.WAV
BBPRO98_package/game/CrdSFXHi/OHCANADA.WAV
BBPRO98_package/game/CrdSFXHi/CR_EV_OD.WAV
BBPRO98_package/game/CrdSFXHi/JEOPARDY.WAV
BBPRO98_package/game/CrdSFXHi/CR_AM_OD.WAV
BBPRO98_package/game/CrdSFXHi/ANTHEM2.WAV
BBPRO98_package/game/CrdSFXHi/ANTHEM.WAV
BBPRO98_package/game/CrdSFXHi/BALL_FUS.WAV
BBPRO98_package/game/CrdSFXHi/BALL_JAZ.WAV
work/dosroot/bbpro_98/Stats/mlbpa96e.dat
work/dosroot/bbpro_98/Stats/mlbpa97.DAT
work/dosroot/bbpro_98/Stats/_DEFAULT.DAT
work/dosroot/bbpro_98/Assn/MLBPA97.ASN
work/modsx/bbedit/bbedit/bbshare/BBEdit98.CAB
*.ARC
*.xls
mods_x/
work/modsx/
work/*.orig

# third-party / Sierra material, never publish
work/ref/
BBPRO98_package/research/v11_patch_notes.txt
